<!DOCTYPE html>
<html>
  <head>
    <title>Michael Mesarcik</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<!-- <li><a href="/about">About</a></li> -->
<li><a href="/publications">Publications</a></li>
<li><a href="/cv">CV</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:mimesarcik@gmail.com">Email</a></li>
   <li><a href="https://github.com/mesarcik">Github</a></li>
   <li><a href="https://scholar.google.com/citations?user=TU0tZQgAAAAJ&hl=en">Google Scholar</a></li>
   </ul>
  </footer>
  </body>

</html>
