<!DOCTYPE html>
<html>
  <head>
    <title>Michael Mesarcik</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/publications">Publications</a></li>
<li><a href="/cv">CV</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:mimesarcik@gmail.com">email</a></li>
   <li><a href="Github">github.com/mesarcik</a></li>
   <li><a href="Google Scholar">https://scholar.google.com/citations?user=TU0tZQgAAAAJ&hl=en/a></li>
   </ul>
  </footer>
  </body>

</html>
